<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
<div id="root">
    <header>
        <div class="container">
            <div class="logo">
                <img src="./assets/img/logo.svg" alt="logo">
                <span>Tasks Manager</span>
            </div>
            <div id="controls">
                <input v-model="newTask" id="task" type="text" placeholder="Insert your task..." @keyup.enter="add">
                <button @click="add">{{ (onEdit === true) ? 'EDIT' : 'ADD' }}</button>
            </div>
        </div>
    </header>
    <main>
        <div class="container w30">
            <h1>Tasks to do</h1>
            <div class="tasks">
                {{ (tasks.length === 0) ? emptyTasks : "" }}
                <div v-for="(task, i) in tasks" class="tasks-item">
                    {{ task.title }}
                    <div class="task-controls">
                        <button @click="check(task, i)">Check</button>
                        <button @click="edit(task.title, i)">Edit</button>
                        <button class="delete" @click="deleteTask(i)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container w60">
            <img src="./assets/img/time-management.svg" alt="">
        </div>
    </main>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./assets/js/createItem.js"></script>
</body>
</html>